{% include 'navigation.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>Accounts</title>
</head>

<body>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Receipt Count</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>