<nav>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'home' %}">Receipts</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        <li><a href="{% url 'category_list' %}">Categories</a></li>
        <li><a href="{% url 'create_category' %}">Create Category</a></li>
        <li><a href="{% url 'account_list' %}">Accounts</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
    </ul>
    {% endif %}
</nav>