{% include 'navigation.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>Create Receipt</title>
</head>

<body>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="id_vendor">Vendor:</label>
                    <input type="text" name="vendor" id="id_vendor" maxlength="150" required>
                </div>
                <div>
                    <label for="id_total">Total:</label>
                    <input type="number" name="total" id="id_total" step="0.01" required>
                </div>
                <div>
                    <label for="id_tax">Tax:</label>
                    <input type="number" name="tax" id="id_tax" step="0.01" required>
                </div>
                <div>
                    <label for="id_date">Date:</label>
                    <input type="date" name="date" id="id_date" required>
                </div>
                <div>
                    <label for="id_category">Category:</label>
                    <select name="category" id="id_category">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="id_account">Account:</label>
                    <select name="account" id="id_account">
                        {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>