{% include 'navigation.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Receipts</title>
</head>

<body>
    <header>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:'m/d/YY'}}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>ZZZZZZ</td>
                    <td>20.000</td>
                    <td>100.000</td>
                    <td>04/20/23</td>
                    <td>Category 1</td>
                    <td>Noors Account</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2023 My Receipts App</p>
    </footer>
</body>

</html>