{% include 'navigation.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>Expense Categories</title>
</head>

<body>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Receipt Count</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>